html {
  height: 100% !important;
  width: 100%;
}
body {
  background-color: transparent;
  height: 100% !important;
  width: 100%;
}
.float-whatsapp-left-b {
  transition: 0.5s;
  width: 240px;
  position: fixed;
  left: 8%;
  z-index: 9999;
  padding: 10px 15px;
  font-weight: 200;
  color: #fff;
  border-radius: 5px;
  background-color: #25D366;
  font-size: 14px;
  text-align: center;
  display: table;
  cursor: pointer;
}
.float-whatsapp-left-b > span { margin-right: 8px; display: table-cell; vertical-align: middle; }
.float-whatsapp-left-b > i { font-size: 2rem; }
.float-whatsapp-left-b:hover { 
  transition: 0.5s;
  color: #fff;
  background-color: #333;
}
.float-whatsapp-left-b { bottom: 4%; }
.whats-container {
  transition: 0.5s;
  transform: translate(-1000px);
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
}
.show-whats {
  transition: 0.5s;
  transform: translate(0);
}
.whats-header { background: linear-gradient(110.56deg,#20802c 0,#30bf42 100%); }
.close-btn {
  cursor: pointer;
  margin: 20px 0 0 0;
}
.whats-body { height: auto; overflow-y: scroll; }
.close-btn > i { font-size: 2rem; }
.whats-btn {
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  background-color: #30bf42;
}
.call-btn {
  border-radius: 0 0 5px 5px;
  background-color: #1463a6;
}
@media only screen and (min-width: 768px ) {
  .whats-container {
    height: auto;
    max-height: 650px;
    width: 450px;
    left: 6%;
    bottom: 6%;
    top: auto;
    border-radius: 5px;
    box-shadow: 0 10px 15px #666;
  }
  .show-whats { display: block; }
  .whats-header { border-radius: 5px 5px 0 0; }
  .whats-body { min-height: 400px; height: auto; overflow: scroll; }
  .float-whatsapp-left-b { left: 6%; }
  .float-whatsapp-left-b > i { font-size: 1.5rem; }
}